<!-- <div class="loader" id="loader">
    <div class="loadercontainer">
      <div class="loadersubcontainer">
        <p>Loading...</p>
      </div>
    </div>
  </div> -->
  <div *ngIf=isAuthenticate>
    <app-header (toggleSideBarForMe)="sideBarToggler($event)"></app-header>
    <mat-divider></mat-divider>
    
    <mat-drawer-container style="height: calc(100vh - 47px);">
        <mat-drawer mode="side" [opened]="sideBarOpen">
            <app-sidebar></app-sidebar>
        </mat-drawer>
        <mat-drawer-content>
          
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
    
    </div>
    
    <div *ngIf="!isAuthenticate">
        <app-login></app-login>
    </div>
    